body {
  box-sizing: border-box;
  margin: 20px 5px 0 5px;
  background-color: black;
  font-family: 'Lato', sans-serif;
}

.quadrant {
  box-sizing: border-box;
  display: block;
  float: left;
  width:33.33%;
  height: 275px;
  border: 5px solid black;
  border-radius: 10px;
}

.sidebar {
  box-sizing: border-box;
  display: block;
  float: right;
  background-color: #7b99ae;
  width:33.33%;
  height: 555px;
  border: 5px solid black;
  border-radius: 10px;
}

.sidebar h1 {
  text-align: center;
  font-size: 2em;
  padding: 5px;
  margin: 2%;
  border-bottom: 2px solid black;
  border-radius: 5px;
}

.quadrant h2 {
    text-align: center;
    color: #7b99ae;
    padding: 5px;
    margin: 2%;
    border-bottom: 2px solid #7b99ae;
    border-radius: 5px;
}

footer {
  box-sizing: border-box;
  display: block;
  clear:both;
  background-color: #7b99ae;
  width:1o0%;
  height: 55px;
  border: 5px solid black;
  border-radius: 10px;
}

.quadrant.client{
  background-color: white;
}

.quadrant.organization{
  background-color: white;
}

.quadrant.volunteer{
  background-color: white;
}

.quadrant.contribution{
  background-color: white;
}

button {
  background-color: white;
  float:right;
  width: 9%;
  padding: 10px;
  height: 15px;
  margin: 12px;
  border-radius: 10px;
}
