body {
  /*height: 50px;*/
  background-color: tomato;
}
.a2000 {
  width: 192px;
}
.a2001 {
width: 190px;
/*}
.2002 {
width: 187px;
}
.2003 {
width: 186px;
}
.2004 {
width: 190px;
}
.2005 {
width: 182px;
}
.2006 {
width: 180px;
}
.2007 {
width: 192px;
}
.2008 {
width: 182px;
}
.2009 {
width: 178px;
}
.2010 {
width: 177px;
}
.2011 {
width: 178px;
}
.2012 {
width: 177px;
}*/
