body{
background: #c65d57;
}
h1{
  text-align: center;
  color: darken(#72231f, 15%);
  font-size: 5em;
  font-family: 'Amatic SC', cursive;
  &:hover {
  color: #72231f;
  }
}
div#memory_board {
  width: 70%;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
div#memory_board > div {
  background: #72231f;
  border-radius: 5px;
  width: 71px;
  height: 71px;
  float: left;
  margin: 5px;
  overflow: hidden;
}
@media (max-width: 990px){
    div#memory_board {
      width: 80%;
    }
    div#memory_board > div {
      border-radius: 25px;
      width: 6em;
      height: 6em;
    }
}
