* {
	color: white;
	font-family: "Wire One", sans-serif;
	text-shadow: 1px 1px black;
	letter-spacing: 3px;
}

}
ul {
	position:fixed;
	padding: 35px;
	border-radius: 15px;
	margin: 35px 0 0 30px;
	background-color: white;
}

li a {
	color: black;
	font-size:36px;
}
header {
	margin:-25px 25px 0 25px;
	background-color: inherit;
	position:fixed;
}

a {
	text-decoration: none;
	background-color: inherit;
}

div {
	width:75%;
	height:200px;
	padding:20px;
	border-radius:15px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
	margin: 50px auto 0 200px;
}

h2 {
	background-color: inherit;
	height: 135px;
	width: 100px;
	display:inline-flex;
	padding: 25px 25px;
	margin:5px;
	border-radius: 15px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}
span {
	margin:20px;
}

div:hover {
	height: 540px;
	width: 80%;
	margin-left: 200px;
}

h2:hover{
	height: 450px;
	width: 280px;
}

.paletteOne1 {
	background-color: #0d0630;/*rgba(13, 6, 48, 1)*/
}
.paletteOne2 {
	background-color: #18314f; /*rgba(24, 49, 79, 1)*/
}
.paletteOne3 {
	background-color: #384e77; /*rgba(56, 78, 119, 1)*/
}
.paletteOne4 {
	background-color: #8bbeb2;/*rgba(139, 190, 178, 1)*/
}
.paletteOne5 {
	background-color: #e6f9af;/*rgba(230, 249, 175, 1)*/
}

.paletteFive1 {
	background-color: #404e5c; /*rgba(64, 78, 92, 100)*/
}
.paletteFive2 {
	background-color: #583f35; /*rgba(88, 63, 53, 100)*/
}
.paletteFive3 {
	background-color: #b93848; /*rgba(185, 56, 72, 100)*/
}
.paletteFive4 {
	background-color:	#e94f37; /*rgba(233, 79, 55, 100)*/
}
.paletteFive5 {
	background-color:	#fffd82; /*rgba(255, 253, 130, 100)*/
}

.paletteTwo1 {
	background-color: #7a6563; /*rgba(122, 101, 99, 100)*/
}
.paletteTwo2 {
	background-color: #de6e4b; /*rgba(222, 110, 75, 100)*/
}
.paletteTwo3 {
	background-color: #7fd1b9; /*rgba(127, 209, 185, 100)*/
}
.paletteTwo4 {
	background-color:	#e2efde; /*rgba(226, 239, 222, 100)*/
}
.paletteTwo5 {
	background-color: #e6f9af; /*rgba(230, 249, 175, 100)*/
}

.paletteThree1 {
	background-color:#747c92; /*rgba(116, 124, 146, 100)*/
}
.paletteThree2 {
	background-color: #94c595; /*rgba(148, 197, 149, 100)*/
}
.paletteThree3 {
	background-color: #ffb86f; /*rgba(255, 184, 111, 100)*/
}
.paletteThree4 {
	background-color: #372772; /*rgba(55, 39, 114, 100)*/
}
.paletteThree5 {
	background-color: #3a2449; /*rgba(58, 36, 73, 100)*/
}

.paletteFour1 {
	background-color: #1a1423; /*rgba(26, 20, 35, 100)*/
}
.paletteFour2 {
	background-color: #3a3042; /*rgba(58, 48, 66, 100)*/
}
.paletteFour3 {
	background-color: #b93848; /*rgba(185, 56, 72, 100)*/
}
.paletteFour4 {
	background-color:	#01baef; /*rgba(1, 186, 239, 100)*/
}
.paletteFour5 {
	background-color: #0cbaba; /*rgba(12, 186, 186, 100)*/
}


.paletteSix1 {
	background-color: #8da1b9; /*rgba(141, 161, 185, 100)*/
}
.paletteSix2 {
	background-color: #95adb6; /*rgba(149, 173, 182, 100)*/
}
.paletteSix3 {
	background-color: #d7b29d; /*rgba(215, 178, 157, 100)*/
}
.paletteSix4 {
	background-color:	#cb8589; /*rgba(203, 133, 137, 100)*/
}
.paletteSix5 {
	background-color: #796465; /*rgba(121, 100, 101, 100)*/
}

.paletteSeven1 {
	background-color: #191816; /*rgba(25, 24, 22, 100)*/
}
.paletteSeven2 {
	background-color: #efcb68; /*rgba(239, 203, 104, 100*/
}
.paletteSeven3 {
	background-color: #244595; /*rgba(36, 69, 149, 100)*/
}
.paletteSeven4 {
	background-color:	#dd614a; /*rgba(221, 97, 74, 100)*/
}
.paletteSeven5 {
	background-color: #5bba6f; /*rgba(91, 186, 111, 100)*/
}

.paletteEight1 {
	background-color:	#d3f3ee; /*rgba(211, 243, 238, 100)*/
	margin-bottom: 400px;
}
.paletteEight2 {
	background-color:	#7fb7be; /*rgba(127, 183, 190, 100)*/
}
.paletteEight3 {
	background-color: #dacc3e; /*rgba(218, 204, 62, 100)*/
}
.paletteEight4 {
	background-color:	#bc2c1a; /*rgba(188, 44, 26, 100)*/
}
.paletteEight5 {
	background-color: #7d1538; /*rgba(125, 21, 56, 100)*/
}
body {
background-color: black;
}
